body {
background-color: #555;
}
.header img {
  float: left;
  width: 100px;
  height: 100px;
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
div.solid {
border-style: solid;
border-radius:5px;
  border-color: white;
}
.button {
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 5px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
